/*
	ONLY GLOBAL VARIABLES IN THIS FILE.
	IT NEEDS TO BE INCLUDED IN EVERY VIEW/COMPONENT/ETC WITHOUT DUPLICATING STYLE DECLARATIONS.
*/

/*#region Colors*/
$white: #FFFFFF;
$offwhite: #FAFAFA;
$lightgrey: #E0E0E0;
$grey: #BDBDBD;
$darkgrey: #828282;
$offblack: #303030;
$black: #1F1F22;

$green: #54C897;
$yellow: #FFC986;
$red: #C04141;
$teal: #3DA3C4;

$success: $green;
$warning: $yellow;
$error: $red;
$focus: $teal;
/*#endregion*/

/*#region General*/

/*#endregion*/
